<div class="container">
    <div class="nav-bar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Web Design<span class="arraw-down"></span></a>
                <ul class="dropdown">
                    <li><a href="">HTML</a></li>
                    <li><a href="">CSS</a></li>
                    <li><a href="">Java-script</a></li>
                    <li><a href="">Bootstrap</a></li>
                </ul>
            </li>
            <li><a href="">BackEnd<span class="arraw-down"></span></a>
                <ul class="dropdown">
                    <li><a href="">java</a></li>
                    <li><a href="">java</a></li>
                </ul>
            </li>
            <li><a href="">Mobile App</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact US</a></li>
            <li><a href="">Profile<span class="arraw-down"></span></a>
                <ul class="dropdown">
                    <li><a href="">Logout</a></li>
                </ul>
            </li>
              
        </ul>
    </div>
    <div class="nav-mobile">
        <div class="mobile-icon"> 
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </div>
</div>