<footer class="d-flex-r clear container text-white ">
    <div class="mx-2">
        <h6 class="heading font-x1 my-1">Contact Us</h6>
        <ul class="nospace linkedlist contact">
            <li><i class="fa fa-map-marker"></i>
                <address>Stret Name &amp; Number, Town, Postcode/Zip</address>
            </li>
            <li><i class="fa fa-phone">+91-8239439345</i>
            </li>
            <li><i class="fa fa-envelop-o">goyalsunil@gmail.com</i>
            </li>
            <li><a class="text-white" href="https://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
            </li>
        </ul>
    </div>
</footer>