<div class="container">
    <div class="products">
        <h1>Our Products</h1>
    </div>
    <div class="search">
        <form>
            <div class="form-box">
                <input class="search-field search" name="search" type="text"
                placeholder="Search Here" autocomplete="off">
                <input class="search-field location" name="search" type="text"
                placeholder="Search Location" autocomplete="off">
                <button class="search-btn" type="button">Search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-3 text-center col1">
            <div class="icons">
                <i class="bi bi-activity"></i>
            </div>
            <h3>Web products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
            <button class="btn btn1" type="button">Add</button>
        </div>
        <div class="col-md-3 text-center col2">
            <div class="icons">
                <i class="bi bi-archive"></i>
            </div>
            <h3>Web products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
           <button class="btn btn2" type="button">Add</button>
        </div>
        <div class="col-md-3 text-center col3">
            <div class="icons">
                <i class="bi bi-activity"></i>
            </div>
            <h3>Web products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
           <button class="btn btn3" type="button">Add</button>
        </div>
        <div class="col-md-3 text-center col3">
            <div class="icons">
                <i class="bi bi-activity"></i>
            </div>
            <h3>Web products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
           <button class="btn btn4" type="button">Add</button>
        </div>
    </div>
</div>