<nav class="container">
    <div class="home">Home</div>
    <div class="learn">Learn</div>
    <div class="cart">Cart</div>
    <div class="search"><input type="text" placeholder="search"></div>
    <div class="logout">Logout</div>
</nav>
<div class="main">
    <div>
        <img src="https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1474446515024-c781c2ef8f42?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1463107971871-fbac9ddb920f?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1549986585-43dfe7024a17?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1551445203-87ef32dd75e3?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1475570450574-9f5d40cba40c?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1542516626-dd069bf4041e?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1551445203-87ef32dd75e3?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85"
            alt="">
    </div>
</div>