/* Add application styles & imports to this file! */

/* body{
    background: linear-gradient(to right,#92dfb5,#92dfd1,#f1e3cd) ;
    margin-top: 70px;
}  for app-registration*/

/* body{
    background: linear-gradient(rbga(0,0,0,0.6),rbga(0,0,0,0.6));
    background-image: url(src\assets\img\pexels-photo-1229861.jpeg);
    background-size: cover;
    background-position:center;
    color: #fff !important;
    margin-top: 70px;
} fotr product-section*/

* body{
    background: linear-gradient(to right,#92dfb5,#92dfd1,#f1e3cd) ;
    font-size: 15px;
    color: #777;
    font-family: sans-serif;
}

